
*.cache
*.cache
*.cache
rss_reader_group3/Project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
rss_reader_group3/.vs/rss_reader_group3/v16/.suo
rss_reader_group3/DataAccess/obj/Debug/DataAccess.csproj.AssemblyReference.cache
rss_reader_group3/DataAccess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
rss_reader_group3/Models/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
rss_reader_group3/Project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
rss_reader_group3/Project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
rss_reader_group3/Models/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
rss_reader_group3/DataAccess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
rss_reader_group3/BusinessLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
