<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.ServiceModel.Syndication" version="5.0.0" targetFramework="net472" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net472" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net472" />
  <package id="System.Xml.XmlSerializer" version="4.3.0" targetFramework="net472" />
</packages>